<div class="main-container">
  <div class="glass">
    <h1 class="title">Password Generator</h1>
    <label>Password Length : [8-15]</label>
    <input type="number" [(ngModel)]="length" min="8" (input)="toggleButtonDisabled()" class="col-12 form-control">

    <div>
      <label>
        <input type="checkbox" [(ngModel)]="includeAlphabets">
        Include Alphabets [A-Za-z]
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" [(ngModel)]="includeNumbers">
        Include Numbers [0-9]
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" [(ngModel)]="includeSpecialChars">
        Include Special Characters [!#$%^]
      </label>
    </div>

    <button (click)="generatePassword()" [disabled]="isButtonDisabled" class="btn btn-primary col-12">Generate
      Password</button>

    <div class="generated-password">
      <p> Your Generated Password:</p>
      <p> {{generatedPassword}} </p>
    </div>

  </div>
</div>
